<h1 class="navbar">Nav Bar Here</h1>
<title>Margaret YJ Kim</title>
<div class="intro">Margaret YJ Kim</div>
<div class="aboutme">Marketer from Vancouver turned a designer and developer. </div>
<div class="portfolio">UX Design + Development
	<div class="mobile">Design</div>
	<div class="web">Development</div>
</div>
<div class="contactme">Contact Me</div>
<footer>Made with Strawberry Power</footer>