<html>
<head>
	<meta charset="UTF-8">
	<title>Margaret YJ Kim</title>
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Open+Sans:400,700">

</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header__brand">Margaret YJ Kim</div>
			<ul class="header__nav">
				<a href="#"><li>Home</li></a>
				<a href="#"><li>Portfolio</li></a>
				<a href="#"><li>Contact</li></a>
			</ul>
		</header>

		<!-- begin main -->

		<main>

			<!-- begin hero -->
			<div class="hero">
			<h1>Hi, I'm Margaret.</h1>
			</div>
			<!-- end hero -->


			<!-- begin portfolio -->
			<div class="about__me">A marketer turned a web developer and UX/UI designer.</div>

			<div class="portfolio">
	<!-- 			<h1>Portfolio</h1> -->

				<div class="portfolio__design__and__development">
					<img src="http://thumb101.shutterstock.com/display_pic_with_logo/1103624/196120103/stock-vector-poster-watercolor-strawberry-lettering-all-you-need-is-strawberry-196120103.jpg" alt="strawberry picture" class="portfolio__image">
					<div class="portfolio__description">
						<h3>Web Development + Design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa soluta porro sapiente, nesciunt, eaque aliquam! Totam sed fugit beatae quas voluptatum. Atque consequatur similique delectus praesentium ullam porro unde vitae.</p>
					</div>
				</div>

				<div class="portfolio__design">
				<img src="http://thumb101.shutterstock.com/display_pic_with_logo/1103624/196120103/stock-vector-poster-watercolor-strawberry-lettering-all-you-need-is-strawberry-196120103.jpg" alt="strawberry picture" class="portfolio__image">
				<div class="portfolio__description">
					<h3>UX Design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa soluta porro sapiente, nesciunt, eaque aliquam! Totam sed fugit beatae quas voluptatum. Atque consequatur similique delectus praesentium ullam porro unde vitae.</p>
					</div>
				</div>
			</div>
			<!-- end portfolio -->


			<!-- begin contact me -->
			<div class="contact__me">Contact Me</div>
			<!-- end contact me -->


		</main>
		<!-- end main -->

		<!-- begin footer -->
		<footer><p>Made with Strawberry Power</p></footer>
		</div>
		<!-- end footer -->
</body>
</html>

