<h1 class="navbar">Nav Bar Here</h1>
<title>Margaret YJ Kim</title>
<div class="intro">Margaret YJ Kim</div>
<div class="orangeDiv">Marketer from Vancouver turned a designer and developer. </div>
<div class="work">UX Design + Development
	<div class="design">Design</div>
	<div class="development">Development</div>
</div>
<div class="yellowDiv">Life should be happy and satisfying.</div>
<div class="contactMe">Contact Me</div>
<footer>Made with Strawberry Power</footer>