// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Initialize
* {
	box-sizing: border-box;
}

html, body, p, h1, h2, h3, ul {
	margin:0;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
	//to fit the picture in the div without getting it distorted
	object-fit: cover;
}

//UI Library
$header-font: Open Sans, san-serif;
$description-font: 'EB Garamond';
$body-padding: 3%;

html {
	font-family: $header-font;
	font-weight: 300;
}

.wrapper {
	background-color: white;
	max-width: 1000px;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	display: flex;
	padding: 20px 0;
	flex-shrink: 0;
}

.header__brand {
	margin-right: auto;
}

.header__nav {
	list-style-type: none;
	display: flex;

}

.header__nav a {
	text-decoration: none;
}

.header__nav li {
	margin-left: 35px;

}

// .header__contact__button {
// 	height: 30px;
// 	width: 70px;
// 	border-radius: 10px;
// 	text-align: center;
// 	font-size: 20px;
// 	background-color: #FFF;
// 	border-width: 5px 5px 5px 5px;
// 	border-image: url(assets/images/jButton.png) 13% 9% repeat;
// }
@media screen and (max-width: 1000px) {
	header {
		flex-direction: column;
		justify-content: center;
	}

	.header__brand {
		margin: auto;
		font-size: 30px;
	}

	.header__nav {
		justify-conent: center;
	}

	.header__nav li a {
		margin: 2% 0 2% 20%;
	}
}

.hero {
	background: rgba(0,169,221,0.9);
	color: white;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}

main {
	flex-grow: 1;
}

.about__me {
	min-height: 100px;
	line-height: 100px;
	background: #0087b0;
	// background: rgba(240,22,82,0.9);
	font-family: $description-font;
	color: white;
	padding: 0 3%;
	font-size: 25px;
}

.portfolio {
	// display: flex;
	justify-content: space-between;
	// background: rgba(250,202,0,0.9);
	background: #e5f6fb;
	font-family: $header-font;
	color: white;
	padding: $body-padding;
}

.portfolio__design__and__development {
	flex-basis: 45%;
	// background-color: rgba(240,22,82,0.9);
	background: #4cc2e7;
	padding: 25px;
	font-family: $header-font;
	color: white;
	display: flex;
}

.portfolio__design {
	flex-basis: 45%;
	background: #66cbea;
	padding: 25px;
	font-family: $header-font;
	color: white;
	display: flex;
}

.portfolio__design__image {
	width: 500px;
}

.portfolio__description {
	flex-direction: column;
	padding: 0 3%;

}

.portfolio__description p{
	font-family: $description-font;
	padding: 3% 0;
}
@media screen and (max-width: 1000px) {
	.portfolio {
		flex-direction: column;
		padding: 0;
	}

}

.contact__me {
	background: #777;
	padding: 25px;
	font-family: $header-font;
	color: white;
}

footer {
	padding: 20px;
	text-align: center;
	flex-shrink: 0;
}